<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cellphone_holder_reference_frame" params="
    namespace
    name
    parent
    x
    y
    z:=0
    rpy:='0 0 0'
    visual_radius:=0.004
    color_rgba:='0.0 0.85 1.0 1.0'">
    <link name="${namespace}${name}">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <sphere radius="${visual_radius}"/>
        </geometry>
        <material name="${namespace}${name}_material">
          <color rgba="${color_rgba}"/>
        </material>
      </visual>
    </link>

    <joint name="${namespace}${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${namespace}${name}"/>
      <origin rpy="${rpy}" xyz="${x} ${y} ${z}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="cellphone_holder_tag" params="namespace id x y tag_size tag_thickness">
    <link name="${namespace}cellphone_holder_tag_${id}">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 ${tag_thickness / 2.0}"/>
        <geometry>
          <mesh
            filename="file://$(find denso_robot_descriptions)/tools/cellphone_holder/meshes/tag36h10_id${id}.obj"
            scale="${tag_size} ${tag_size} 1"/>
        </geometry>
      </visual>
    </link>

    <joint name="${namespace}cellphone_holder_tag_${id}_joint" type="fixed">
      <parent link="${namespace}cellphone_holder_tags_frame"/>
      <child link="${namespace}cellphone_holder_tag_${id}"/>
      <origin rpy="0 0 0" xyz="${x} ${y} 0"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="cellphone_holder" params="
    namespace
    end_effector
    xyz:='-0.021230953 0 0.05367'
    rpy:='0 0 1.57079632679'
    mesh_xyz:='0 0 0.036991104'
    mesh_rpy:='0 0 1.57079632679'
    mesh_scale:='0.001 0.001 0.001'
    tag_size:=0.031
    tag_thickness:=0.001
    virtual_phone:=false
    virtual_phone_width:=0.070
    virtual_phone_height:=0.150
    virtual_phone_thickness:=0.008
    virtual_phone_screen_offset:=0.0">

    <xacro:property name="top_tag_spacing" value="0.0952"/>
    <xacro:property name="bottom_tag_spacing" value="0.0998"/>
    <xacro:property name="side_tag_spacing" value="0.2075"/>
    <xacro:property name="side_tag_y_spacing" value="0.2074872534"/>
    <xacro:property name="detected_tag_size" value="${tag_size * 0.8}"/>
    <xacro:property name="top_tag_detected_outer_x" value="${top_tag_spacing / 2.0 + detected_tag_size / 2.0}"/>
    <xacro:property name="bottom_tag_detected_outer_x" value="${bottom_tag_spacing / 2.0 + detected_tag_size / 2.0}"/>
    <xacro:property name="tag_detected_outer_y" value="${side_tag_y_spacing / 2.0 + detected_tag_size / 2.0}"/>

    <link name="${namespace}cellphone_holder_mount_frame">
      <visual>
        <origin rpy="${mesh_rpy}" xyz="${mesh_xyz}"/>
        <geometry>
          <mesh
            filename="file://$(find denso_robot_descriptions)/tools/cellphone_holder/meshes/cellphone_holder.stl"
            scale="${mesh_scale}"/>
        </geometry>
        <material name="${namespace}cellphone_holder_body_material">
          <color rgba="0.75 0.75 0.70 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="${namespace}cellphone_holder_mount_joint" type="fixed">
      <parent link="${namespace}${end_effector}"/>
      <child link="${namespace}cellphone_holder_mount_frame"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <link name="${namespace}cellphone_holder_phone_plane_frame"/>

    <joint name="${namespace}cellphone_holder_joint" type="fixed">
      <parent link="${namespace}cellphone_holder_mount_frame"/>
      <child link="${namespace}cellphone_holder_phone_plane_frame"/>
      <origin rpy="${rpy}" xyz="${xyz}"/>
    </joint>

    <link name="${namespace}cellphone_holder_tags_frame"/>

    <joint name="${namespace}cellphone_holder_tags_frame_joint" type="fixed">
      <parent link="${namespace}cellphone_holder_phone_plane_frame"/>
      <child link="${namespace}cellphone_holder_tags_frame"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <xacro:cellphone_holder_reference_frame
      namespace="${namespace}"
      name="cellphone_holder_tag_rectangle_center_frame"
      parent="${namespace}cellphone_holder_tags_frame"
      x="0"
      y="0"
      visual_radius="0.006"
      color_rgba="1.0 0.85 0.0 1.0" />
    <xacro:cellphone_holder_reference_frame
      namespace="${namespace}"
      name="cellphone_holder_ref_upper_left"
      parent="${namespace}cellphone_holder_tags_frame"
      x="${-top_tag_detected_outer_x}"
      y="${tag_detected_outer_y}" />
    <xacro:cellphone_holder_reference_frame
      namespace="${namespace}"
      name="cellphone_holder_ref_upper_right"
      parent="${namespace}cellphone_holder_tags_frame"
      x="${top_tag_detected_outer_x}"
      y="${tag_detected_outer_y}" />
    <xacro:cellphone_holder_reference_frame
      namespace="${namespace}"
      name="cellphone_holder_ref_lower_left"
      parent="${namespace}cellphone_holder_tags_frame"
      x="${-bottom_tag_detected_outer_x}"
      y="${-tag_detected_outer_y}" />
    <xacro:cellphone_holder_reference_frame
      namespace="${namespace}"
      name="cellphone_holder_ref_lower_right"
      parent="${namespace}cellphone_holder_tags_frame"
      x="${bottom_tag_detected_outer_x}"
      y="${-tag_detected_outer_y}" />

    <xacro:cellphone_holder_tag
      namespace="${namespace}"
      id="1"
      x="${-top_tag_spacing / 2.0}"
      y="${side_tag_y_spacing / 2.0}"
      tag_size="${tag_size}"
      tag_thickness="${tag_thickness}" />
    <xacro:cellphone_holder_tag
      namespace="${namespace}"
      id="2"
      x="${top_tag_spacing / 2.0}"
      y="${side_tag_y_spacing / 2.0}"
      tag_size="${tag_size}"
      tag_thickness="${tag_thickness}" />
    <xacro:cellphone_holder_tag
      namespace="${namespace}"
      id="3"
      x="${-bottom_tag_spacing / 2.0}"
      y="${-side_tag_y_spacing / 2.0}"
      tag_size="${tag_size}"
      tag_thickness="${tag_thickness}" />
    <xacro:cellphone_holder_tag
      namespace="${namespace}"
      id="4"
      x="${bottom_tag_spacing / 2.0}"
      y="${-side_tag_y_spacing / 2.0}"
      tag_size="${tag_size}"
      tag_thickness="${tag_thickness}" />

    <!-- The holder frame stays as the mechanical reference. The phone grows
         along +Z, and the screen frame follows its outer contact surface. -->
    <xacro:if value="${virtual_phone}">
      <xacro:property name="virtual_phone_glass_thickness" value="0.001"/>
      <xacro:property name="virtual_phone_body_thickness"
                      value="${virtual_phone_thickness - virtual_phone_glass_thickness}"/>

      <link name="${namespace}virtual_phone_link">
        <visual name="phone_body_visual">
          <origin xyz="0 0 ${virtual_phone_screen_offset + virtual_phone_body_thickness / 2.0}"/>
          <geometry><box size="${virtual_phone_width} ${virtual_phone_height} ${virtual_phone_body_thickness}"/></geometry>
          <material name="${namespace}virtual_phone_body_material"><color rgba="0.08 0.10 0.14 1"/></material>
        </visual>
        <collision name="${namespace}virtual_phone_body_collision">
          <origin xyz="0 0 ${virtual_phone_screen_offset + virtual_phone_body_thickness / 2.0}"/>
          <geometry><box size="${virtual_phone_width} ${virtual_phone_height} ${virtual_phone_body_thickness}"/></geometry>
        </collision>
      </link>
      <joint name="${namespace}virtual_phone_joint" type="fixed">
        <parent link="${namespace}cellphone_holder_phone_plane_frame"/>
        <child link="${namespace}virtual_phone_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>
      <link name="${namespace}virtual_phone_screen_frame">
        <visual name="screen_visual">
          <!-- This link is the physical screen plane. The OBJ/MTL preserves
               UV mapping in both RViz and Gazebo. -->
          <origin xyz="0 0 0.00001" rpy="0 0 0"/>
          <geometry><mesh filename="file://$(find denso_robot_descriptions)/tools/virtual_phone/meshes/phone_screen.obj" scale="${virtual_phone_height * 0.94} ${virtual_phone_height * 0.94} ${virtual_phone_height * 0.94}"/></geometry>
        </visual>
        <collision name="${namespace}virtual_phone_screen_collision">
          <origin xyz="0 0 ${-virtual_phone_glass_thickness / 2.0}"/>
          <geometry><box size="${virtual_phone_width * 0.94} ${virtual_phone_height * 0.94} ${virtual_phone_glass_thickness}"/></geometry>
        </collision>
      </link>
      <joint name="${namespace}virtual_phone_screen_joint" type="fixed">
        <parent link="${namespace}virtual_phone_link"/>
        <child link="${namespace}virtual_phone_screen_frame"/>
        <origin xyz="0 0 ${virtual_phone_screen_offset + virtual_phone_thickness}" rpy="0 0 0"/>
      </joint>
    </xacro:if>
  </xacro:macro>
</robot>
